In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [24]:
# Lendo o arquivo csv e passando para o pandas
df = pd.read_csv('./Dados/Anexo_Projeto_fifa_world_national_teams_versão_oficial_20241.csv', sep=';')

# Pegando as primeiras linhas do arquivo para verificar os dados
df.head()

,id,name,full_name,overall_rating,value_euro,wage_euro,nationality,national_team,club_team,age,...,crossing,finishing,heading_accuracy,short_passing,dribbling,jumping,strength,long_shots,aggression,GK_reflexes
0,158023,Messi,Lionel Andrés Messi Cuccittini,94,110500000,565000,Argentina,Argentina,FC Barcelona,31,...,86,95,70,92,97,68,66,94,48,8
1,153079,Aguero,Sergio Leonel Agüero del Castillo,89,64500000,300000,Argentina,Argentina,Manchester City,30,...,70,93,77,81,89,81,73,83,65,14
2,211110,Dybala,Paulo Bruno Exequiel Dybala,89,89000000,205000,Argentina,Argentina,Juventus,25,...,82,84,68,87,92,75,65,88,48,8
3,201399,Icardi,Mauro Emanuel Icardi Rivero,87,64500000,130000,Argentina,Argentina,Inter,26,...,46,91,91,73,77,94,76,70,56,9
4,226226,Lo Celso,Giovani Lo Celso,82,30000000,83000,Argentina,Argentina,Real Betis,22,...,75,77,59,82,84,64,69,76,65,14

In [ ]:
def mostrar_dados(df, lista, num_max_linhas=5):
    """
    Percorre o DataFrame e retorna os valores das colunas especificadas na lista.

    Argumentos:
        df: O DataFrame a ser percorrido.
        colunas (lista): Uma lista com os nomes das colunas a serem mostradas.
        num_max_linhas (int, opcional): O número máximo de linhas a serem mostradas.
    """

    for i, row in df.iterrows():
        if i >= num_max_linhas: # Interrompe o loop
            break  
        print(f"Índice: {i}")
        
        for coluna in lista:
            print(f"  {coluna}: {row[coluna]}")
        print("-" * 20)

# 1. Encontre e liste uma variável de cada tipo (qualitativa nominal, qualitativa ordinal, quantitativa discreta e quantitativa contínua); 

# qualitativa nominal: Rotulam Algo.
# Por exemplo: club_team (representa o time do jogador, não há ordem)

# qualitativa ordinal: existe uma ordem clara
# Por exemplo: skill_moves (representam a habilidade do jogador de 1 a 5)

# quantitativa discreta: quando podemos contar.
# Por exemplo: Atacante (se o jogador é atacante ou não)

# quantitativa contínua: posui um intervalo.
# Por exemplo: height_cm (representa a altura em centímetros, podendo assumir valors contínuos dentro de um intervalo)
colunas_desejadas = ['club_team', 'skill_moves(1-5)', 'Atacante', 'height_cm']

mostrar_dados(df, colunas_desejadas, 2)

Índice: 0
  club_team: FC Barcelona
  skill_moves(1-5): 4
  Atacante: 1
  height_cm: 170
--------------------
Índice: 1
  club_team: Manchester City
  skill_moves(1-5): 4
  Atacante: 0
  height_cm: 173
--------------------